<div class="edit-form">

    <div style="width: 700px;">
        <form>
            <div class="form-group">
                <label style="color:#000000; text-align: center">Supprimer Document</label>
                <hr>


            </div>
            <p style="text-align: center"><em>Voulez-vous vraiment supprimer <b>{{data.doc.nomDoc}}</b>?</em></p>
            <div class="modal-footer">
                <button mat-raised-button mat-dialog-close tabindex="-1" type="submit" class="btn btn-outline-danger"
                        data-dismiss="modal" (click)="deleteDocument()">Supprimer
                </button>
                <button mat-button (click)="onNoClick()">Annuler</button>
            </div>
        </form>
    </div>

</div>
