<form class="modal-body box-shadow " [formGroup]="profileForm">
    <div class="row">
        <div class="col-md-5">
            <div class="md-form mb-5 ml-5 ">
                <input
                        type="text"
                        id="orangeForm-name-signup"
                        class="form-control validate"

                        formControlName="signupFormModalUsername"

                />
                <label
                        data-error="wrong"
                        data-success="right"
                        for="orangeForm-name"
                >Username</label
                >
            </div>

            <div class="md-form ml-5">
                <input
                        type="password"
                        (focus)="clearFields()"

                        id="defaultForm-pass-signupOld"

                        formControlName="loginFormModalPasswordOld"
                        class="form-control validate"

                />
                <label for="defaultForm-pass">Old password</label>
            </div>
        </div>

        <div class="col-md-5 ml-5">
            <div class="md-form ">
                <input
                        type="password"
                        (focus)="clearFields()"

                        id="defaultForm-pass-signupNew"

                        formControlName="loginFormModalPasswordNew"
                        class="form-control validate"
                        mdbInputDirective
                />
                <label for="defaultForm-pass">New Password</label>
            </div>
            <div class="mb-4 left ">

                <small>
                    Your new password must contain at least 5 characters,
                    numbers and special characters.</small
                >
            </div>
        </div>
        <div
                class="row rows d-flex justify-content-center w-100 mt-5 mb-5 pt-3"
        >
            <div class="d-flex justify-content-center">
                <button

                        color="blue"
                        [disabled]="!profileForm.valid && !passItpass()"
                        class="waves-light"
                        (click)="onSauvegarder()"

                >
                    Save
                </button>
            </div>
            <div
                    *ngIf="showSpinner"
                    class="mt-4 d-flex align-middled-flex justify-content-center"
            >
                <mat-spinner [diameter]="27"></mat-spinner>
            </div>
            <div
                    *ngIf="showSuccess"
                    class="text mt-3  d-flex justify-content-center"
            >
                <a>
                    <i class="fa fa-check green-text"> </i> Update Succeed
                </a>
            </div>
            <div
                    *ngIf="showFail"
                    class="text mt-3  d-flex justify-content-center"
            >
                <a> <i class="fa fa-check red-text"> </i> Update Failed </a>
            </div>
        </div>
    </div>
</form>
