<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <!--                <li>-->
                <!--                    <a href="https://www.creative-tim.com">-->
                <!--                        Creative Tim-->
                <!--                    </a>-->
                <!--                </li>-->


            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            <a href="https://gfi.world/tn-fr/" target="_blank">GFI Tunisie</a> <br/>Tous droits réservés
        </div>
    </div>
</footer>
