<!--<br/><br/>-->

<!--<div *ngIf="isLoggedIn; else loggedOut">-->

<!--</div>-->

<!--<ng-template #loggedOut>-->
<!--    <div class="row col-sm-6" style="max-width:350px;">-->
<!--        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>-->
<!--            <div class="form-group">-->
<!--                <label for="username" class="colortext">Username</label>-->
<!--                <input type="text"  class="form-control form-control-lg" id="username" placeholder="entrer username"  name="username" [(ngModel)]="form.username" #username="ngModel"-->
<!--                       required />-->
<!--                <div *ngIf="f.submitted && username.invalid">-->
<!--                    <div *ngIf="username.errors.required">Username is required</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="password"class="colortext">Password</label>-->
<!--                <input id="password" placeholder="entrer password" type="password" class="form-control form-control-lg" name="password" [(ngModel)]="form.password" #password="ngModel"-->
<!--                       required minlength="6" />-->
<!--                <div *ngIf="f.submitted && password.invalid">-->
<!--                    <div *ngIf="password.errors.required">Password is required</div>-->
<!--                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <button class="btn btn-primary">Login</button>-->
<!--                <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">-->
<!--                    Login failed: {{errorMessage}}-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--        <hr />-->
<!--        <p class="colortext"> <b> Don't have an account?</b></p>-->
<!--        <hr />-->
<!--        <a href="signup" class="btn btn-primary mb-2">Sign Up</a>-->
<!--    </div>-->
<!--</ng-template>-->
