<div class="edit-form">

  <form [formGroup]="oppoSuitsForm_supprimer">
    <select name="codeRepertoire_deplacer" formControlName="name" class="custom-select">
      <option selected></option>
      <option *ngFor="let suit of question" [value]="suit.question">{{suit.question}}</option>

    </select>
    <br/>
    <br/>
    <br/>
    <div class="modal-footer" style="margin-top: 60px;">
      <br/>
      <mat-dialog-actions align="end"><br/><br/>
        <button mat-raised-button class="btn btn-outline-warning" type="submit" data-dismiss="modal"
                mat-dialog-close tabindex="-1" (click)="deleteQuestion()">Enregistrer
        </button>
        <button mat-button (click)="onNoClick()">Fermer</button>
      </mat-dialog-actions>

    </div>
  </form>
</div>
