<div>

    <div>
        <div style="text-align:center">
            <h3>
                Document
            </h3>
        </div>

        <div style="display: flex;align-items: center;justify-content: center;">
            <iframe width="400" height="500" src="" type="application/pdf"></iframe>
        </div>
        <a style="display: flex;align-items: center;justify-content: center;" target="_blank" href="{{datalocalURL}}">Ouvrir </a>
        <hr>
        <form>

            <div class="form-group">
                <div class="form-group row">
                    <label>Nom:</label>
                    <div class="col-sm-10">
                        <div>{{data.doc.nomDoc}}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label>Taille:</label>
                    <div class="col-sm-10">
                        <div>{{data.doc.taille / 1024}} Ko</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label>Type:</label>
                    <div class="col-sm-10">
                        <div>{{extension}}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label>date Creation:</label>
                    <div class="col-sm-8">
                        <div>{{data.doc.dateCreation}}</div>
                    </div>
                </div>

                <div>{{data.doc.repertoire?.nomRepertoire}}</div>
            </div>
            <div class="modal-footer">
                <button mat-button (click)="onNoClick()">Fermer</button>
            </div>

        </form>
    </div>

</div>
