<div style="width: 400px;">
      <form  >


          <div class="form-group ">
            <label>Question</label>

            <input type="text" class="form-control" id="question" required   name="question" [(ngModel)]="question.question">
          </div>
          <div class="form-group ">
            <label>Reponses</label>
            <input type="text" class="form-control" id="reponses"  name="reponses" [(ngModel)]="question.reponses">
          </div>


        <div style="height: 90px;"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onNoClick()">Fermer
          </button>
          <button type="button" data-dismiss="modal" mat-raised-button mat-dialog-close tabindex="-1"

                  class="btn btn-outline-warning" (click)="editeQuestion()">Modifier
          </button>
        </div>
      </form>
     </div>
