<app-navbar></app-navbar>
<div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center">


                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                            data-target="#exampleModal" >
                        Ajouter Document
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"
                                        style="color:#000000; text-align: center">Ajouter Document</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form [formGroup]="oppoSuitsForm">
                                    <br/><br/>
                                    <div class="col-sm-8">
                                        <mat-select #mySelect name="codeRepertoire" style="text-align: center;align-items: center;font-weight: 600; min-width: 100% !important;
    transform: translateX(60px) !important;" placeholder="Sélectionner un répertoire" formControlName="name">
                                            <mat-option *ngFor="let suit of repertoire"
                                                        [value]="suit.codeRepertoire">{{suit.nomRepertoire}}</mat-option>

                                        </mat-select>
                                    </div>
                                    <br/> <br/>


                                    <br/> <br/><br/> <input class="btn btn-outline-warning" type="file"
                                                            (change)="selectFile($event)" multiple/><br/> <br/>
                                    <br/>

                                    <div style="width: 300px;align-items: center;margin-right:auto;">

                                    </div>

                                    <mat-list>
                                        <mat-list-item *ngFor="let document2 of this.filerows">

                                            <div mat-line>{{document2.nomDoc}}</div>
                                            <div>
                                                <mat-form-field>

                                                    <mat-select style="font-weight: 600;
                                                     transform: translateX(10px) !important;"
                                                                placeholder="Sélectionner un répertoire spécifique"
                                                                (selectionChange)="onChangeRepertoireSpecifique($event.value, document2.nomDoc)">

                                                        <mat-option *ngFor="let suit of repertoire"
                                                                    [value]="suit.codeRepertoire">{{suit.nomRepertoire}}</mat-option>

                                                    </mat-select>
                                                </mat-form-field>
                                            </div>


                                        </mat-list-item>
                                    </mat-list>

                                    <!--                              <table class="table">-->
                                    <!--                                  <thead>-->
                                    <!--                                  <tr>-->
                                    <!--                                      <th >Nom Document</th>-->

                                    <!--                                  </tr>-->
                                    <!--                                  </thead>-->
                                    <!--                                  <tbody>-->
                                    <!--                                  <tr *ngFor="let document2 of this.selectedFiles.get('profile').value">-->
                                    <!--                                       <td>{{ document2.name }}</td>-->

                                    <!--                                        <td><select name="codeRepertoire"  formControlName="name" class="custom-select"   >-->
                                    <!--                                            <option selected></option>-->
                                    <!--                                            <option  *ngFor="let suit of repertoire" [value]="suit.codeRepertoire"  >{{suit.nomRepertoire}}</option>-->

                                    <!--                                        </select></td>-->

                                    <!--                                  </tr>-->
                                    <!--                                  </tbody>-->
                                    <!--                              </table>-->

                                    <br/><br/>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                                        </button>
                                        <button type="button" class="btn btn-outline-warning"
                                                [disabled]="!selectedFiles " (click)="multiFiles()"
                                                data-dismiss="modal">Enregistrer
                                        </button>
                                    </div>


                                </form>


                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                            data-target="#exampleModal1" style="margin-left:4%;">
                        Ajouter Repertoire
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1"
                                        style="color:#000000; text-align: center">Ajouter Repertoire</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form #f="ngForm">

                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <input type="text" [(ngModel)]="repertoires.nomRepertoire"
                                                       name="nomRepertoire" class="form-control"
                                                       placeholder="Nom Repertoire">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Fermer
                                            </button>
                                            <button type="button" (click)="save(f.value)"
                                                    class="btn btn-outline-warning" data-dismiss="modal">Enregistrer
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                            data-target="#exampleModal2" style="margin-left:4%;">
                        Supprimer Repertoire
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" style="height: 50%;" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="height: 700px;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2"
                                        style="color:#000000; text-align: center">Supprimer Repertoire</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form [formGroup]="oppoSuitsForm_delete">
                                    <div class="form-group row">
                                        <mat-select #mySelect name="codeRepertoire"
                                                    placeholder="Sélectionner un répertoire" style=" align-items: center;font-weight: 600;
                                                      " formControlName="name"
                                        >
                                            <mat-option *ngFor="let suit of repertoire"
                                                        [value]="suit.codeRepertoire">{{suit.nomRepertoire}}</mat-option>

                                        </mat-select>
                                    </div>
                                    <div style="height: 90px;"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                                        </button>
                                        <button type="button"
                                                (click)="deletContentDirectory(this.oppoSuitsForm_delete.value.name)"
                                                class="btn btn-outline-warning" data-dismiss="modal">Supprimer
                                        </button>
                                    </div>
                                </form>
                                <!--                          <div class="modal-footer">-->
                                <!--                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                <!--                              <button type="button" class="btn btn-primary">Save changes</button>-->
                                <!--                          </div>-->
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-secondary btn-sm" style="margin-left:4%;"
                            (click)='xpandStatus=xpandStatus?false:true'>Fermer Liste
                    </button>
                    <!--              <form class="form-inline md-form mr-auto mb-4" >-->
                    <!--                  <i class="fa fa-search" aria-hidden="true"></i>-->
                    <!--                  <input  class="form-control mr-sm-2" style="margin-left:40%;"  type="text" placeholder="Filtrer" name="nomRepertoire" [(ngModel)]="nomRepertoire" (input)="searchNomDoc()">-->
                    <!--              </form>-->

                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="telechargerAll()"
                            style="margin-left:4%;">
                        Telecharger Documents
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="supprimerAllFile()"
                            style="margin-left:4%;">
                        Supprimer Documents
                    </button>
                    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                        <div *ngFor="let doc of documents"></div>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="form-control mr-sm-4" type="text" placeholder="Filtrer.." name="nomDoc"
                               [(ngModel)]="nomDoc" (keyup)="searchNomDoc()">

                    </form>
                    <br/><br/>
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title ">Liste des Repertoires </h4>
                            <p class="card-category"></p>
                        </div>

                        <mat-accordion multi="true">
                            <mat-expansion-panel [expanded]="xpandStatus"
                                                 *ngFor="let repertoire of (repertoire | slice: lowValue : highValue)"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>

                                        <i class="fa fa-folder"></i>  {{ repertoire.nomRepertoire  }}
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <table *ngFor="let doc of repertoire.documents">

                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td class="col-sm" style="text-align: left;">
                                            <mat-checkbox (change)="checkDoc($event,doc.id)"
                                                          color="primary"></mat-checkbox>
                                            <i class="{{getFileExtension(doc.nomDoc)}}" aria-hidden="true"
                                               style="margin-left:1%;"></i> {{ doc.nomDoc }}</td>
                                        <td class="col-sm-4"></td>
                                        <td class="col-sm-10"></td>
                                        <td>
                                            <form #f="ngForm">
                                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                                        aria-label="Example icon-button with a menu">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">

                                                    <button mat-menu-item (click)="editDocument(doc)">
                                                        <mat-icon>edit</mat-icon>
                                                        <span>Renommer</span>
                                                    </button>

                                                    <div>
                                                        <button (click)="deleteDocument(doc)" mat-menu-item>
                                                            <mat-icon>delete</mat-icon>
                                                            <span>Supprimer</span>
                                                        </button>
                                                    </div>
                                                    <button (click)=" detailDocument(doc)" mat-menu-item>
                                                        <mat-icon>description</mat-icon>
                                                        <span>Details</span>
                                                    </button>
                                                    <button mat-menu-item (click)="openAlertDialog(doc.id)">
                                                        <mat-icon>launch</mat-icon>
                                                        <span>Deplacer</span>
                                                    </button>
                                                    <!--                                      <button mat-icon-button (click)="editDocument(f.value)">hh</button>-->


                                                    <button mat-menu-item (click)="downloadFile(doc)">
                                                        <mat-icon>get_app</mat-icon>
                                                        <span>Telecharger</span>
                                                    </button>

                                                </mat-menu>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>

                                    <tr>
                                        <td></td>
                                    </tr>

                                    </tbody>

                                </table>

                                <!--                      <p *ngFor="let doc of repertoire.documents"><i class="fa fa-file-pdf-o" style="font-size:20px;color:red"></i>{{ doc.nomDoc }}</p>-->
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-paginator

                                [length]="repertoire.length" [pageSize]="pageSize"
                                (page)=" getPaginatorData($event)">
                        </mat-paginator>


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!--<div class="col-md-3" *ngFor="let repertoire of repertoire  | slice: lowValue : highValue">-->
<!--</div>-->



