<div class="md-form form-inline form-sm d-flex justify-content-center">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input
            type="text"
            id="form1"
            class="ml-3 form-control w-50"
            placeholder="Chercher .."
            [(ngModel)]="searchText"
            (keyup)="changeit()"
            aria-label="Search"
    />
</div>

