<div class="wrapper fadeInDown">
    <div id="formContent" style="right: 15%">
        <!-- Tabs Titles -->

        <div class="d-flex justify-content-center mx-auto main-label">
            <h2 style="color:#3C4858">Se Connecter</h2>
        </div>
        <br/>
        <!-- Login Form -->
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div>

                <input type="text" class="fadeIn second" id="username" placeholder="Nom" name="username"
                       [(ngModel)]="form.username" #username="ngModel"
                       required (focus)="userNotFound = false">
                <div *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Username is required</div>
                </div>
            </div>


            <input (focus)="userNotFound = false" placeholder=" Mot de passe" type="password" class="fadeIn third"
                   name="password" [(ngModel)]="form.password" #password="ngModel">
            <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>


            <input type="submit" class="fadeIn fourth" value="Connecter">
            <div
                    *ngIf="showSpinner"
                    class="mt-4 d-flex align-middled-flex justify-content-center"
            >
                <mat-spinner [diameter]="27"></mat-spinner>
            </div>
            <div *ngIf="f.submitted && isLoginFailed" class="alert">
                Vérifier votre nom et/ou votre mot de passe !
            </div>


        </form>


        <div
                class="alert alert-danger mt-3 align-middle d-flex justify-content-center"
                role="alert"
                *ngIf=" userNotFound"
        >
            <strong>Vérifier votre nom et/ou votre mot de passe !</strong>
        </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">

            <a class="underlineHover" (click)="openSignup()" style="color: #1d91e8">Pas encore inscrit ?</a>
        </div>

    </div>
</div>


