
<app-navbar></app-navbar>
<div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-12">
                <div style="text-align: center"  >

                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                            *ngIf="authority === 'admin'"    data-target="#exampleModal" >
                        Ajouter Question
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"
                                        style="color:#000000; text-align: center">Ajouter Question</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form >
                                    <div style="height: 18px;"></div>
                                    <div class="form-group row">
                                        <label for="question" class="col-sm-2 col-form-label">Question</label>
                                        <div class="col-sm-10">
                                            <input style="box-sizing: border-box;" type="text" class="form-control form-control-lg" id="question" name="question" [(ngModel)]="questions.question"  >
                                        </div></div>
                                    <div style="height: 90px;"></div>
                                    <div class="form-group row">
                                        <label for="reponses" class="col-sm-2 col-form-label">Reponse</label>
                                        <div class="col-sm-10">
                                            <!--                    <input type="text" class="form-control" id="reponses" name="reponses" [(ngModel)]="questions.reponses" placeholder="Entrer Reponse">-->
                                            <textarea class="form-control" id="reponses" name="reponses" [(ngModel)]="questions.reponses"></textarea>
                                        </div></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Fermer
                                        </button>
                                        <button (click)="createQuestion()" type="submit" class="btn btn-outline-warning" data-dismiss="modal">Enregistrer</button>
                                    </div> </form>


                            </div>
                        </div>
                    </div>


                    <button  type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                             *ngIf="authority === 'admin'"         data-target="#exampleModal2" style="margin-left:4%;" (click)="deleteQuestion() ">
                        Supprimer Questions
                    </button>


                    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" *ngIf="authority === 'admin'" >
                        <div *ngFor="let doc of questionn"></div>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="form-control mr-sm-4" type="text" placeholder="Filtrer.." name="question"
                               [(ngModel)]="question" (keyup)="searchNomQuestion()">

                    </form>

                    <!--          <div class="card">-->
                    <!--            <div class="card-header card-header-warning">-->
                    <!--              <h4 class="card-title ">Foire Aux Questions  </h4>-->
                    <!--              <p class="card-category"></p>-->
                    <!--            </div>-->

                    <!--            <mat-accordion >-->
                    <!--              <mat-expansion-panel *ngFor="let question of questionn "-->
                    <!--              >-->
                    <!--                <mat-expansion-panel-header>-->

                    <!--                  <mat-panel-title (dblclick)=" editQuestion(question)">-->

                    <!--                    <mat-checkbox  (change)="checkDoc($event,question.id)"-->
                    <!--                            color="primary"></mat-checkbox>  {{ question.question  }}-->
                    <!--                  </mat-panel-title>-->

                    <!--                </mat-expansion-panel-header>-->
                    <!--                <table >-->

                    <!--                  <thead>-->
                    <!--                  <tr>-->
                    <!--                    <th scope="col"></th>-->
                    <!--                    <th scope="col"></th>-->

                    <!--                  </tr>-->
                    <!--                  </thead>-->
                    <!--                  <tbody>-->
                    <!--                  <tr>-->
                    <!--                    <th scope="row"></th>-->

                    <!--                    <td class="col-sm" style="text-align: left;" (dblclick)=" editQuestion(question)">-->

                    <!--                       {{ question.reponses }}</td>-->
                    <!--                    <td class="col-sm-4"></td>-->
                    <!--                    <td class="col-sm-10"></td>-->

                    <!--                  </tr>-->
                    <!--                  <tr>-->

                    <!--                  <tr>-->
                    <!--                    <td></td>-->
                    <!--                  </tr>-->

                    <!--                  </tbody>-->

                    <!--                </table>-->

                    <!--              </mat-expansion-panel>-->
                    <!--            </mat-accordion></div>-->

                    <!--            <h1 class="page-title">FAQs</h1>-->
                    <!--                <div class="container" *ngFor="let question of questionn ">-->
                    <!--                    &lt;!&ndash; For demo purpose &ndash;&gt;-->



                    <!--                    <div class="row" >-->
                    <!--                        <div class="col-lg-9 mx-auto">-->
                    <!--                            &lt;!&ndash; Accordion &ndash;&gt;-->
                    <!--                            <div id="accordionExample" class="accordion shadow">-->

                    <!--                                &lt;!&ndash; Accordion item 1 &ndash;&gt;-->


                    <!--                                &lt;!&ndash; Accordion item 2 &ndash;&gt;-->
                    <!--                                <div class="card">-->
                    <!--                                    <div id="headingTwo" class="card-header bg-white shadow-sm border-0">-->
                    <!--                                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">{{question.question}}</a></h6>-->
                    <!--                                    </div>-->
                    <!--                                    <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">-->
                    <!--                                        <div class="card-body p-5">-->
                    <!--                                            <p class="font-weight-light m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->



                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->


                    <!--                </div>-->

                    <!--            <div class="container" >-->
                    <!--                <div class="row">-->
                    <!--                    <div class="col-lg-10" >-->
                    <!--                        <h1 class="page-title" style="text-align: left;">FAQs</h1>-->

                    <!--                        <div class="accordion"  id="accordionExample"  aria-multiselectable="false"  *ngFor="let question of questionn ; let i = index">-->

                    <!--                            <div class="card"  >-->
                    <!--                                <div class="card-header" id="headingTwo" (click)="panelExpanded = !panelExpanded" >-->
                    <!--                                    <h2 class="clearfix mb-0">-->

                    <!--                                       <a class="btn btn-link clickable" (dblclick)=" editQuestion(question)" data-toggle="collapse" data-target="#collapseOne"  ><i class="fa fa-chevron-circle-down"></i>-->
                    <!--                                            {{question.question}}</a>-->
                    <!--                                    </h2>-->
                    <!--                                </div>-->
                    <!--                                <div id="collapseOne" *ngIf="panelExpanded" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample" >-->
                    <!--                                    <div class="card-body"  >-->
                    <!--                                        <mat-checkbox *ngIf="authority === 'admin'"  (change)="checkDoc($event,question.id)" color="primary"></mat-checkbox>-->
                    <!--                                        {{question.reponses}}</div>-->
                    <!--                                </div>-->

                    <!--                            </div>-->
                    <!--                        </div>-->


                    <!--                    </div>-->
                    <!--                </div>-->
                    <!--            </div>-->




                    <div class="container" >
                        <div class="row">
                            <div class="col-lg-10" >
                                <h1 class="page-title" style="text-align: left;">FAQs</h1>
                                <mat-accordion  class="example" *ngFor="let question of questionn ; let i = index">
                                    <div class="accordion"  id="accordionExample1"  aria-multiselectable="false"  >

                                        <div class="card" aria-multiselectable="true" >

                                            <h2 class="mb-0">

                                                <mat-expansion-panel  style="background-color :rgba(254,254,254,0.02);"  hideToggle>
                                                    <mat-expansion-panel-header  style="background: none;border: none;padding: .4rem 1rem;font-family: Roboto, sans-serif;">
                                                        <mat-panel-title>
                                                            <h2 class="mb-0">
                                                                <a style="color: #2f2f31;
  font-size: 1.04rem;
  text-align: left;
  position: relative;
  font-weight: 500;
  padding-left: 2rem;" class="btn btn-link clickable" (dblclick)=" editQuestion(question)" data-toggle="collapse" data-target="#collapseOne"  ><i class="fa fa-chevron-circle-down" ></i>
                                                                    {{question.question}}</a></h2>
                                                        </mat-panel-title>

                                                    </mat-expansion-panel-header>

                                                    <div class="card-body"  >

                                                        <mat-checkbox *ngIf="authority === 'admin'"  (change)="checkDoc($event,question.id)" color="primary"></mat-checkbox>
                                                        {{question.reponses}}</div>
                                                </mat-expansion-panel>
                                                <!--                                       <a class="btn btn-link clickable" (dblclick)=" editQuestion(question)" data-toggle="collapse" data-target="#collapseTwo"  ><i class="fa fa-chevron-circle-down"></i>-->
                                                <!--                                            {{question.question}}</a>-->
                                            </h2>

                                            <div id="collapseTwo1" class="collapse " >
                                                <div class="card-body"  >
                                                    <mat-checkbox *ngIf="authority === 'admin'"  (change)="checkDoc($event,question.id)" color="primary"></mat-checkbox>
                                                    {{question.reponses}}</div>
                                            </div>

                                        </div>
                                    </div>

                                </mat-accordion>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>





